[submodule "vendor/move"]
	path = vendor/move
	url = https://github.com/boostorg/move
[submodule "vendor/config"]
	path = vendor/config
	url = https://github.com/boostorg/config
[submodule "vendor/assert"]
	path = vendor/assert
	url = https://github.com/boostorg/assert
[submodule "vendor/static_assert"]
	path = vendor/static_assert
	url = https://github.com/boostorg/static_assert
[submodule "vendor/container_hash"]
	path = vendor/container_hash
	url = https://github.com/boostorg/container_hash
[submodule "vendor/type_traits"]
	path = vendor/type_traits
	url = https://github.com/boostorg/type_traits
[submodule "vendor/describe"]
	path = vendor/describe
	url = https://github.com/boostorg/describe
